.cost-page table {
        width: 100%;
        border-color: #ddd;
        border-style: solid;
        border-radius: 10px;
}


/*.cost-page table td {
        border-color: #ddd;
        border-style: solid;
        border-radius: 10px;
}*/

/*.cost-page table tr {
        border-color: #ddd;
        border-style: solid;
        border-radius: 10px;
}*/

table th:first-child {
    width: 150px;
}

table td:first-child {
    width: 60px;
    text-align: center
}

table th{
    background-color: #bbb;
    border-style: solid;
    border-color: #bbb;
    border-radius: 8px;
}

table .ui-input-text{
    border-style: none;
    width: 200px;
    margin: .3em 0;
}