
#save{
    display: none;
}

#mypanel a{
    font-size: 14px;
    font-weight: 500;
}

.json-overlay {
    background-color: lightgrey;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('/Content/images/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}


.timer-fadein{
    display: none;
}

.margin10{
    margin: 10px;
}


/* Header & Footer */

[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

/* bs-callout */

.bs-callout {
    padding: 20px;
    margin: 20px 15px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}


.bs-callout p {
    font-size: 14px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout-info h4 {
    color: #1b809e;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}

.bs-callout-warning h4 {
    color: #aa6708;
}
