.login{
    margin-left: 20px;
    margin-right: 20px;
}

.password{
   margin-left: 20px;
   margin-right: 20px;
}

.title{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ui-header .ui-title, .ui-footer .ui-title{
    text-overflow: clip !important;
    margin: 0 25% !important;
    width: 50%;
}

.submit > .ui-btn{
    margin-left: 10px;
    margin-right: 10px;
}

.result{
    display: none;
}

.result p{
     text-align: center;
}