.spend-row-detail div{
    padding: 0 !important;
}

.spend-row{
    margin-left: 10px;
    margin-right: 10px;
}

.spend-row-detail ul{
    margin: 1px 10px 10px 10px !important;
    padding-top: 5px;
}

ul.editable div.ui-input-text:first-child {
    width: 65%;
    display: inline-block;
}

div.spend-value {
    width: 20%;
    display: inline-block;
}

div.spend-value div{
    width: 100% !important;
}

div.formula-button {
    display: inline-flex;
    width: 50px;
    height: 10px;
    position: inherit;
    cursor: pointer;
    padding-left: 5px !important;
}

ul.editable div:last-child {
   
}

ul.editable li) {
    padding: 0px 10px 0px 10px !important;
}

li.add-spend div{
    width: 35% !important;
    height: 30px;
    line-height: 30px;
}

.spend-sum {
    display: inline-block;
    line-height: 50px !important;
}

.spend-add {
    display: inline-block;
    float: right;
}

#popupDialogFormula div[role=main] div.ui-input-text {
    width: 300px;
}

#popupDialogFormula div[role=main] a:last-child {
    float: right;
}

.credit-list {
    /*height: 40px;*/
    line-height: 40px;
}

.credit-daysum-span {
    margin-top: 0px;
}

.credit-day-span {
    margin-top: -25px;
}

textarea.tacomment {
    width: 65%;
    display: table-cell;
    vertical-align: top;
}

p.comment {
    white-space: normal !important; 
    font-size: 14px !important;
}

div.takephoto-button {
    /*padding: 10px !important;*/
    position: inherit !important;
}

div.takephoto-button > span {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
    position: relative;
}

div.takephoto-button div.progressbar {
    width: 65%;
    margin-left: 60px;
}

div.takephoto-carat h3{
    margin-bottom: 0px;
}

div.photo-row {
    position: inherit;
    height: 35px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60% !important;
}

div.photo-row div:first-child {
    display: inline-block;
    width: 40px;
}

div.photo-row div:last-child {
    display: inline-block;
    width: 30px;
    float: right;
}

.add_tacomment {
    width: 100%;
    display: table-cell;
    vertical-align: top;
}

.add_summ {
    width: 90% !important;
}

.new-photo-row div {
    display: inline-flex;
}

.new-photo-row div:nth-child(2) {
    width: 70%;
}

.add_progressbar {
    padding-bottom: 35px;
    display: none;
}