@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/jqm.datebox.css")
@Styles.Render("~/plan.css")

<div class="create-plan">

    <h3> Создание плана </h3>

    <form action="/Plan/Create" method="POST" data-ajax="false">

        <input name="start" placeholder="Дата начала" type="date" data-role="datebox"
               data-options='{"mode": "flipbox", "overrideDateFormat": "%d/%m/%Y"}' />

        <input name="end" placeholder="Дата завершения" type="date" data-role="datebox"
               data-options='{"mode": "flipbox", "overrideDateFormat": "%d/%m/%Y"}' />

        <input name="name" type="text" placeholder="Наименование"/>

        <input type="submit" value="Создать"/>

    </form>

</div>

@Scripts.Render("~/jqm.datebox.js")