@{
    ViewBag.Title = "Настройки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

<a data-role="button" class="margin10" data-icon="heart" onclick="redirect('/Database/Index')">Управление БД</a>
<a data-role="button" class="margin10" data-icon="bullets" onclick="redirect('/Plan/Index')">Управление планами</a>

<script type="text/javascript">
    backUrl = "/Home/Index";
</script>