@using System.Diagnostics
@using System.Web.Optimization
@model IList<SimpleBookKeeping.Models.CostModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/cost.css")

<div class="cost-list">
    <ul class="margin10 custom-list" data-role="listview" data-inset="true">
        <li data-role="list-divider"> Расходы: </li>

        @foreach (var cost in Model)
        {
            <li>
                <a href="#" onclick="redirect('/Cost/EditById?id=@cost.Id')">
                    @cost.Name 
                    <span class="ui-li-count ui-body-inherit">@cost.CostDetails.Sum(x=>x.Value)</span>
                </a>
            </li>
        }

    </ul>
</div>

<a data-role="button" class="margin10" onclick="redirect('/Cost/Edit')">Создать новые</a>

<script type="text/javascript">
    backUrl = "/Plan/EditById?id=@ViewBag.PlanId"
</script>
