@{
    ViewBag.Title = "База данных";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a data-role="button" class="margin10" data-icon="check" onclick="CreateDB()">Создать БД</a>

<a data-role="button" class="margin10" data-icon="check" onclick="ClearDB()">Очистить БД</a>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="timer-fadein bs-callout bs-callout-danger">
        <h4> Database error </h4>
        <p> @ViewBag.Error </p>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Info))
{
    <div class="timer-fadein bs-callout bs-callout-info">
        <h4> Database information </h4>
        <p> @ViewBag.Info </p>
    </div>
}

<script type="text/javascript">
    backUrl = "/Settings/Index";

    function CreateDB() {
        $("body").inpBox({
            password: true,
            caption: "Пароль",
            head: "Для создания БД необходимо ввести пароль",
            placeholder: "Пароль",
            firstButtonCaption: "Отмена",
            secondButtonCaption: "Создать",
            onSecondButton: function (data) {
                redirect('/Database/CreateDatabase?password=' + data);
            }
        });
    }

    function ClearDB() {
        $("body").inpBox({
            password: true,
            caption: "Чистка БД",
            head: "Если вы хотите очистить БД введите 'clear'",
            placeholder: "Ключ",
            firstButtonCaption: "Отмена",
            secondButtonCaption: "Очистить",
            onSecondButton: function (data) {
                redirect('/Database/Clear');
            }
        });
    }

</script>