@{
    ViewBag.Title = "База данных";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a data-role="button" class="margin10" onclick="Redirect('/Database/CreateDatabase')">Создать БД</a>

<br/>
<br/>

@if (!string.IsNullOrEmpty(ViewBag.Response))
{
    <table border="1">
        <tr> <th> Result: </th></tr>
        <tr> <td> @ViewBag.Response </td></tr>
    </table>
}
