@{
    ViewBag.Title = "База данных";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input onclick="Redirect('/Database/CreateDatabase')" type="button" value="Создать БД">

<br/>
<br/>

@if (!string.IsNullOrEmpty(ViewBag.Response))
{
    <table border="1">
        <tr> <th> Result: </th></tr>
        <tr> <td> @ViewBag.Response </td></tr>
    </table>
}
